# ================= NODE MODULES =================
backend/node_modules/
frontend/node_modules/
node_modules/

# ================= ENV FILES =================
backend/.env
frontend/.env
.env

# ================= BUILD / DIST =================
frontend/build/
frontend/dist/

# ================= LOGS =================
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ================= TESTING =================
/coverage

# ================= PRODUCTION =================
/build

# ================= MISC =================
.DS_Store
Thumbs.db

# ================= REACT ENV =================
.env.local
.env.development.local
.env.test.local
.env.production.local